In [ ]:
# Install dependencies - não é necessário correr
import sys
!{sys.executable} -m pip install hdfs

In [1]:
from os import PathLike
from hdfs import InsecureClient
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *
from pyspark.sql.types import LongType, StringType, StructField, StructType, BooleanType, ArrayType, IntegerType, FloatType, DoubleType
from pyspark.sql.functions import when, col, concat, lit

client = InsecureClient("http://hdfs-nn:9870", user="anonymous")

# warehouse_location points to the default location for managed databases and tables
warehouse_location = 'hdfs://hdfs-nn:9000/projeto/fisico/silver/'

builder = SparkSession \
    .builder \
    .master("local[2]") \
    .appName("Python Spark DataFrames and SQL") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:1.0.0") \
    .enableHiveSupport() \

spark = configure_spark_with_delta_pip(builder).getOrCreate()

Warning: Ignoring non-Spark config property: hive.metastore.uris
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

:: loading settings :: url = jar:file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/jovyan/.ivy2/cache
The jars for the packages stored in: /home/jovyan/.ivy2/jars
io.delta#delta-core_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-2b7f88c0-5374-48d8-b115-2ad7245d90a2;1.0
	confs: [default]
	found io.delta#delta-core_2.12;1.0.0 in central
	found org.antlr#antlr4;4.7 in central
	found org.antlr#antlr4-runtime;4.7 in central
	found org.antlr#antlr-runtime;3.5.2 in central
	found org.antlr#ST4;4.0.8 in central
	found org.abego.treelayout#org.abego.treelayout.core;1.0.3 in central
	found org.glassfish#javax.json;1.0.4 in central
	found com.ibm.icu#icu4j;58.2 in central
:: resolution report :: resolve 548ms :: artifacts dl 17ms
	:: modules in use:
	com.ibm.icu#icu4j;58.2 from central in [default]
	io.delta#delta-core_2.12;1.0.0 from central in [default]
	org.abego.treelayout#org.abego.treelayout.core;1.0.3 from central in [default]
	org.antlr#ST4;4.0.8 from central in [default]
	org.antlr#antlr-runtime;3.5.2 from central in [default]
	org.antlr#antlr4;4.7 from central in [default]
	org.antlr#antlr4-runtime;4.7 from central in [default]
	org.glassfish#javax.json;1.0.4 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   8   |   0   |   0   |   0   ||   8   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-2b7f88c0-5374-48d8-b115-2ad7245d90a2
	confs: [default]
	0 artifacts copied, 8 already retrieved (0kB/13ms)
22/01/14 01:16:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/01/14 01:16:55 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/01/14 01:16:55 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/01/14 01:16:55 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
22/01/14 01:16:55 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
22/01/14 01:16:55 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.

In [ ]:
# apagar tudo do hdfs

#to_path = "/projeto/fisico/bronze/bios/"
#to_path_aux = "/projeto/fisico/bronze/players_stats_by_season_full_details/"

#to_path_silver = "/projeto/fisico/silver/bios/"

#client.delete(to_path,True)
#client.delete(to_path_aux,True)

#client.delete(to_path_silver,True)

In [2]:
# declaracao dos caminhos

from_path = "../projeto/bronze/bios/"
from_path_aux = "../projeto/bronze/players_stats_by_season_full_details/"

hdfs_path = "hdfs://hdfs-nn:9000/projeto/fisico/bronze/bios"
hdfs_path_aux = "hdfs://hdfs-nn:9000/projeto/fisico/bronze/players_stats_by_season_full_details"

#hdfs_path1 = "hdfs://hdfs-nn:9000/projeto/fisico/bronze/bios1"
#hdfs_path_aux1 = "hdfs://hdfs-nn:9000/projeto/fisico/bronze/players_stats_by_season_full_details1"

In [ ]:
# upload de bronze

client.upload(to_path, from_path)
client.upload(to_path_aux, from_path_aux)

In [3]:
dataFrame = spark.read.csv(hdfs_path, header= True, inferSchema = True )
dataFrame_aux = spark.read.csv(hdfs_path_aux, header= True, inferSchema = True )

In [ ]:
dataFrame.printSchema()
dataFrame.show(truncate=False)
dataFrame.toPandas()
#topandas usar apenas para mostrar os dados em tabela

In [ ]:
dataFrame_status = dataFrame.summary() #sempre que se cria uma nova funçao é necessario um novo dataframe

dataFrame_status.toPandas() #serve para msotrar a informação de cima obtida

In [4]:
# JUNCAO

In [5]:
dataFrame_aux = dataFrame_aux.withColumn(    
    "year_start",
    dataFrame_aux.Season.substr(1, 4)
)

dataFrame_aux = dataFrame_aux.withColumn(    
    "year_end",
    dataFrame_aux.Season.substr(8, 4)
)

In [6]:
dataFrame_aux.createOrReplaceTempView("dataFrame_aux")

# preparar aux para a juncao.
df_aux = spark.sql(
    """
    SELECT Player,year_start,year_end,height,weight,birth_date,high_school
    FROM dataFrame_aux
    WHERE (Season == "2018 - 2019" OR Season == "2019 - 2020")
    AND League == "NBA"
    AND Stage == "Regular_Season"
    """
)

df_aux.show(truncate= False)

22/01/14 01:17:31 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+---------------------+----------+--------+------+------+------------+------------------------------------+
|Player               |year_start|year_end|height|weight|birth_date  |high_school                         |
+---------------------+----------+--------+------+------+------------+------------------------------------+
|James Harden         |2018      |2019    |6-5   |220   |Aug 26, 1989|Artesia High School                 |
|Paul George          |2018      |2019    |6-9   |220   |May 2, 1990 |Pete Knight High School             |
|Kemba Walker         |2018      |2019    |6-1   |184   |May 8, 1990 |Rice High School                    |
|Bradley Beal         |2018      |2019    |6-3   |207   |Jun 28, 1993|Chaminade College Preparatory School|
|Damian Lillard       |2018      |2019    |6-3   |195   |Jul 15, 1990|Oakland High School                 |
|Kevin Durant         |2018      |2019    |6-9   |240   |Sep 29, 1988|Montrose Christian School           |
|Giannis Antetokounmpo|2018      |2019    |6-11  |242   |Dec 6, 1994 |null                                |
|Stephen Curry        |2018      |2019    |6-3   |190   |Mar 14, 1988|Charlotte Christian School          |
|Karl-Anthony Towns   |2018      |2019    |7-0   |248   |Nov 15, 1995|St. Joseph High School              |
|Blake Griffin        |2018      |2019    |6-10  |250   |Mar 16, 1989|Oklahoma Christian School           |
|Donovan Mitchell     |2018      |2019    |6-3   |215   |Sep 7, 1996 |Brewster Academy                    |
|Joel Embiid          |2018      |2019    |7-0   |250   |Mar 16, 1994|The Rock High School                |
|LaMarcus Aldridge    |2018      |2019    |6-11  |265   |Jul 19, 1985|Seagoville High School              |
|D'Angelo Russell     |2018      |2019    |6-5   |198   |Feb 23, 1996|Montverde Academy                   |
|Devin Booker         |2018      |2019    |6-6   |206   |Oct 30, 1996|Moss Point High School              |
|Buddy Hield          |2018      |2019    |6-4   |220   |Dec 17, 1992|Sunrise Christian Academy           |
|Klay Thompson        |2018      |2019    |6-7   |215   |Feb 8, 1990 |Santa Margarita Catholic High School|
|Russell Westbrook    |2018      |2019    |6-3   |200   |Nov 12, 1988|Leuzinger High School               |
|Nikola Vucevic       |2018      |2019    |7-0   |260   |Oct 24, 1990|Stoneridge Prep                     |
|Tobias Harris        |2018      |2019    |6-9   |235   |Jul 15, 1992|Half Hollow Hills West High School  |
+---------------------+----------+--------+------+------+------------+------------------------------------+
only showing top 20 rows

In [7]:
df_aux = df_aux.withColumnRenamed('Player', 'name')

In [8]:
df_complete = dataFrame.unionByName(df_aux, allowMissingColumns = True)

df_complete.show(truncate= False)

+-------------------+----------+--------+--------+------+------+-----------------+-------------------------------------+-----------+
|name               |year_start|year_end|position|height|weight|birth_date       |college                              |high_school|
+-------------------+----------+--------+--------+------+------+-----------------+-------------------------------------+-----------+
|Alaa Abdelnaby     |1991      |1995    |F-C     |6-10  |240   |June 24, 1968    |Duke University                      |null       |
|Zaid Abdul-Aziz    |1969      |1978    |C-F     |6-9   |235   |April 7, 1946    |Iowa State University                |null       |
|Kareem Abdul-Jabbar|1970      |1989    |C       |7-2   |225   |April 16, 1947   |University of California, Los Angeles|null       |
|Mahmoud Abdul-Rauf |1991      |2001    |G       |6-1   |162   |March 9, 1969    |Louisiana State University           |null       |
|Tariq Abdul-Wahad  |1998      |2003    |F       |6-6   |223   |November 3, 1974 |San Jose State University            |null       |
|Shareef Abdur-Rahim|1997      |2008    |F       |6-9   |225   |December 11, 1976|University of California             |null       |
|Tom Abernethy      |1977      |1981    |F       |6-7   |220   |May 6, 1954      |Indiana University                   |null       |
|Forest Able        |1957      |1957    |G       |6-3   |180   |July 27, 1932    |Western Kentucky University          |null       |
|John Abramovic     |1947      |1948    |F       |6-3   |195   |February 9, 1919 |Salem International University       |null       |
|Alex Abrines       |2017      |2018    |G-F     |6-6   |190   |August 1, 1993   |null                                 |null       |
|Alex Acker         |2006      |2009    |G       |6-5   |185   |January 21, 1983 |Pepperdine University                |null       |
|Don Ackerman       |1954      |1954    |G       |6-0   |183   |September 4, 1930|Long Island University               |null       |
|Mark Acres         |1988      |1993    |F-C     |6-11  |220   |November 15, 1962|Oral Roberts University              |null       |
|Bud Acton          |1968      |1968    |F       |6-6   |210   |January 11, 1942 |Hillsdale College                    |null       |
|Quincy Acy         |2013      |2018    |F       |6-7   |240   |October 6, 1990  |Baylor University                    |null       |
|Alvan Adams        |1976      |1988    |C-F     |6-9   |210   |July 19, 1954    |University of Oklahoma               |null       |
|Don Adams          |1971      |1977    |F       |6-6   |210   |November 27, 1947|Northwestern University              |null       |
|George Adams       |1973      |1975    |F-G     |6-5   |210   |May 15, 1949     |Gardner-Webb University              |null       |
|Hassan Adams       |2007      |2009    |G       |6-4   |220   |June 20, 1984    |University of Arizona                |null       |
|Jordan Adams       |2015      |2016    |G       |6-5   |209   |July 8, 1994     |University of California, Los Angeles|null       |
+-------------------+----------+--------+--------+------+------+-----------------+-------------------------------------+-----------+
only showing top 20 rows

In [9]:
# INÍCIO DA EDIÇÃO DO DATAFRAME COMPLETO

In [10]:
# adicionar altura em inches para calculo do imc
replaced_df = df_complete.withColumn(    
    "height_in",
    (dataFrame.height.substr(1, 1) * 12) + dataFrame.height.substr(3, 2)
)

In [11]:
# adicionar imc
replaced_df = replaced_df.withColumn(    
    "imc",
    (col("weight") / (col("height_in")*col("height_in")) * 703)
)

In [12]:
# adicionar altura e peso em metric
replaced_df = replaced_df.withColumn(    
    "height_cm",
    col("height_in") * 2.54
)

replaced_df = replaced_df.withColumn(    
    "weight_kg",
    col("weight") * 0.45359237
)

In [13]:
# FIM DA EDIÇÃO DO DATAFRAME

In [14]:
replaced_df = replaced_df.withColumn("name", replaced_df["name"].cast(StringType())) 
replaced_df = replaced_df.withColumn("year_start", replaced_df["year_start"].cast(IntegerType()))
replaced_df = replaced_df.withColumn("year_end", replaced_df["year_end"].cast(IntegerType())) 
replaced_df = replaced_df.withColumn("position", replaced_df["position"].cast(StringType()))
replaced_df = replaced_df.withColumn("height", replaced_df["height"].cast(StringType())) 
replaced_df = replaced_df.withColumn("weight", replaced_df["weight"].cast(IntegerType())) 
replaced_df = replaced_df.withColumn("birth_date",replaced_df["birth_date"].cast(StringType())) 
replaced_df = replaced_df.withColumn("college", replaced_df["college"].cast(StringType())) 
replaced_df = replaced_df.withColumn("high_school", replaced_df["high_school"].cast(StringType()))
replaced_df = replaced_df.withColumn("height_in", replaced_df["height_in"].cast(DoubleType()))
replaced_df = replaced_df.withColumn("imc", replaced_df["imc"].cast(DoubleType()))
replaced_df = replaced_df.withColumn("height_cm", replaced_df["height_cm"].cast(DoubleType()))
replaced_df = replaced_df.withColumn("weight_kg", replaced_df["weight_kg"].cast(DoubleType()))

In [15]:
replaced_df.printSchema()
replaced_df.show(truncate=False)
replaced_df.toPandas()
#topandas usar apenas para mostrar os dados em tabela

root
 |-- name: string (nullable = true)
 |-- year_start: integer (nullable = true)
 |-- year_end: integer (nullable = true)
 |-- position: string (nullable = true)
 |-- height: string (nullable = true)
 |-- weight: integer (nullable = true)
 |-- birth_date: string (nullable = true)
 |-- college: string (nullable = true)
 |-- high_school: string (nullable = true)
 |-- height_in: double (nullable = true)
 |-- imc: double (nullable = true)
 |-- height_cm: double (nullable = true)
 |-- weight_kg: double (nullable = true)

+-------------------+----------+--------+--------+------+------+-----------------+-------------------------------------+-----------+---------+------------------+------------------+------------------+
|name               |year_start|year_end|position|height|weight|birth_date       |college                              |high_school|height_in|imc               |height_cm         |weight_kg         |
+-------------------+----------+--------+--------+------+------+-----------------+-------------------------------------+-----------+---------+------------------+------------------+------------------+
|Alaa Abdelnaby     |1991      |1995    |F-C     |6-10  |240   |June 24, 1968    |Duke University                      |null       |82.0     |25.09220701963117 |208.28            |108.8621688       |
|Zaid Abdul-Aziz    |1969      |1978    |C-F     |6-9   |235   |April 7, 1946    |Iowa State University                |null       |81.0     |25.179850632525532|205.74            |106.59420695      |
|Kareem Abdul-Jabbar|1970      |1989    |C       |7-2   |225   |April 16, 1947   |University of California, Los Angeles|null       |86.0     |21.386560302866414|218.44            |102.05828325      |
|Mahmoud Abdul-Rauf |1991      |2001    |G       |6-1   |162   |March 9, 1969    |Louisiana State University           |null       |73.0     |21.37098892850441 |185.42000000000002|73.48196394       |
|Tariq Abdul-Wahad  |1998      |2003    |F       |6-6   |223   |November 3, 1974 |San Jose State University            |null       |78.0     |25.76742274819198 |198.12            |101.15109851000001|
|Shareef Abdur-Rahim|1997      |2008    |F       |6-9   |225   |December 11, 1976|University of California             |null       |81.0     |24.108367626886146|205.74            |102.05828325      |
|Tom Abernethy      |1977      |1981    |F       |6-7   |220   |May 6, 1954      |Indiana University                   |null       |79.0     |24.781285050472682|200.66            |99.79032140000001 |
|Forest Able        |1957      |1957    |G       |6-3   |180   |July 27, 1932    |Western Kentucky University          |null       |75.0     |22.496000000000002|190.5             |81.6466266        |
|John Abramovic     |1947      |1948    |F       |6-3   |195   |February 9, 1919 |Salem International University       |null       |75.0     |24.370666666666665|190.5             |88.45051215000001 |
|Alex Abrines       |2017      |2018    |G-F     |6-6   |190   |August 1, 1993   |null                                 |null       |78.0     |21.9543063773833  |198.12            |86.1825503        |
|Alex Acker         |2006      |2009    |G       |6-5   |185   |January 21, 1983 |Pepperdine University                |null       |77.0     |21.935402260077584|195.58            |83.91458845000001 |
|Don Ackerman       |1954      |1954    |G       |6-0   |183   |September 4, 1930|Long Island University               |null       |72.0     |24.816550925925924|182.88            |83.00740371       |
|Mark Acres         |1988      |1993    |F-C     |6-11  |220   |November 15, 1962|Oral Roberts University              |null       |83.0     |22.450283059950646|210.82            |99.79032140000001 |
|Bud Acton          |1968      |1968    |F       |6-6   |210   |January 11, 1942 |Hillsdale College                    |null       |78.0     |24.26528599605523 |198.12            |95.2543977        |
|Quincy Acy         |2013      |2018    |F       |6-7   |240   |October 6, 1990  |Baylor University                    |null       |79.0     |27.034129145970198|200.66            |108.8621688       |
|Alvan Adams        |1976      |1988    |C-F     |6-9   |210   |July 19, 1954    |University of Oklahoma               |null       |81.0     |22.50114311842707 |205.74            |95.2543977        |
|Don Adams          |1971      |1977    |F       |6-6   |210   |November 27, 1947|Northwestern University              |null       |78.0     |24.26528599605523 |198.12            |95.2543977        |
|George Adams       |1973      |1975    |F-G     |6-5   |210   |May 15, 1949     |Gardner-Webb University              |null       |77.0     |24.89964580873672 |195.58            |95.2543977        |
|Hassan Adams       |2007      |2009    |G       |6-4   |220   |June 20, 1984    |University of Arizona                |null       |76.0     |26.77631578947368 |193.04            |99.79032140000001 |
|Jordan Adams       |2015      |2016    |G       |6-5   |209   |July 8, 1994     |University of California, Los Angeles|null       |77.0     |24.78107606679035 |195.58            |94.80080533       |
+-------------------+----------+--------+--------+------+------+-----------------+-------------------------------------+-----------+---------+------------------+------------------+------------------+
only showing top 20 rows

,name,year_start,year_end,position,height,weight,birth_date,college,high_school,height_in,imc,height_cm,weight_kg
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University,None,82.0,25.092207,208.28,108.862169
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University,None,81.0,25.179851,205.74,106.594207
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles",None,86.0,21.386560,218.44,102.058283
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University,None,73.0,21.370989,185.42,73.481964
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University,None,78.0,25.767423,198.12,101.151099
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5117,Matt Dellavedova,2019,2020,None,6-4,200.0,"Sep 8, 1990",None,Australian Institute of Sport,76.0,24.342105,193.04,90.718474
5118,Goga Bitadze,2019,2020,None,6-11,245.0,"Jul 20, 1999",None,None,83.0,25.001452,210.82,111.130131
5119,Nassir Little,2019,2020,None,6-6,220.0,"Feb 11, 2000",None,Orlando Christian Prep High School,78.0,25.420776,198.12,99.790321
5120,David Nwaba,2019,2020,None,6-4,219.0,"Jan 14, 1993",None,University City High School,76.0,26.654605,193.04,99.336729
5121,Al-Farouq Aminu,2019,2020,None,6-9,220.0,"Sep 21, 1990",None,Norcross High School,81.0,23.572626,205.74,99.790321

In [15]:
replaced_df \
    .select("name","year_start","year_end","position","birth_date","college","height","height_in","height_cm","weight","weight_kg","imc") \
    .write \
    .mode("overwrite") \
    .format("delta") \
    .save("hdfs://hdfs-nn:9000/projeto/fisico/silver/bios")

In [17]:
spark.sql(
    """
    SELECT *
    FROM silver.bios
    """
).show(truncate = False)

+-------------------+----------+--------+--------+-----------------+-------------------------------------+------+---------+------------------+------+------------------+------------------+
|name               |year_start|year_end|position|birth_date       |college                              |height|height_in|height_cm         |weight|weight_kg         |imc               |
+-------------------+----------+--------+--------+-----------------+-------------------------------------+------+---------+------------------+------+------------------+------------------+
|Alaa Abdelnaby     |1991      |1995    |F-C     |June 24, 1968    |Duke University                      |6-10  |82.0     |208.28            |240   |108.8621688       |25.09220701963117 |
|Zaid Abdul-Aziz    |1969      |1978    |C-F     |April 7, 1946    |Iowa State University                |6-9   |81.0     |205.74            |235   |106.59420695      |25.179850632525532|
|Kareem Abdul-Jabbar|1970      |1989    |C       |April 16, 1947   |University of California, Los Angeles|7-2   |86.0     |218.44            |225   |102.05828325      |21.386560302866414|
|Mahmoud Abdul-Rauf |1991      |2001    |G       |March 9, 1969    |Louisiana State University           |6-1   |73.0     |185.42000000000002|162   |73.48196394       |21.37098892850441 |
|Tariq Abdul-Wahad  |1998      |2003    |F       |November 3, 1974 |San Jose State University            |6-6   |78.0     |198.12            |223   |101.15109851000001|25.76742274819198 |
|Shareef Abdur-Rahim|1997      |2008    |F       |December 11, 1976|University of California             |6-9   |81.0     |205.74            |225   |102.05828325      |24.108367626886146|
|Tom Abernethy      |1977      |1981    |F       |May 6, 1954      |Indiana University                   |6-7   |79.0     |200.66            |220   |99.79032140000001 |24.781285050472682|
|Forest Able        |1957      |1957    |G       |July 27, 1932    |Western Kentucky University          |6-3   |75.0     |190.5             |180   |81.6466266        |22.496000000000002|
|John Abramovic     |1947      |1948    |F       |February 9, 1919 |Salem International University       |6-3   |75.0     |190.5             |195   |88.45051215000001 |24.370666666666665|
|Alex Abrines       |2017      |2018    |G-F     |August 1, 1993   |null                                 |6-6   |78.0     |198.12            |190   |86.1825503        |21.9543063773833  |
|Alex Acker         |2006      |2009    |G       |January 21, 1983 |Pepperdine University                |6-5   |77.0     |195.58            |185   |83.91458845000001 |21.935402260077584|
|Don Ackerman       |1954      |1954    |G       |September 4, 1930|Long Island University               |6-0   |72.0     |182.88            |183   |83.00740371       |24.816550925925924|
|Mark Acres         |1988      |1993    |F-C     |November 15, 1962|Oral Roberts University              |6-11  |83.0     |210.82            |220   |99.79032140000001 |22.450283059950646|
|Bud Acton          |1968      |1968    |F       |January 11, 1942 |Hillsdale College                    |6-6   |78.0     |198.12            |210   |95.2543977        |24.26528599605523 |
|Quincy Acy         |2013      |2018    |F       |October 6, 1990  |Baylor University                    |6-7   |79.0     |200.66            |240   |108.8621688       |27.034129145970198|
|Alvan Adams        |1976      |1988    |C-F     |July 19, 1954    |University of Oklahoma               |6-9   |81.0     |205.74            |210   |95.2543977        |22.50114311842707 |
|Don Adams          |1971      |1977    |F       |November 27, 1947|Northwestern University              |6-6   |78.0     |198.12            |210   |95.2543977        |24.26528599605523 |
|George Adams       |1973      |1975    |F-G     |May 15, 1949     |Gardner-Webb University              |6-5   |77.0     |195.58            |210   |95.2543977        |24.89964580873672 |
|Hassan Adams       |2007      |2009    |G       |June 20, 1984    |University of Arizona                |6-4   |76.0     |193.04            |220   |99.79032140000001 |26.77631578947368 |
|Jordan Adams       |2015      |2016    |G       |July 8, 1994     |University of California, Los Angeles|6-5   |77.0     |195.58            |209   |94.80080533       |24.78107606679035 |
+-------------------+----------+--------+--------+-----------------+-------------------------------------+------+---------+------------------+------+------------------+------------------+
only showing top 20 rows